/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, button {
  cursor: revert;
}

ol, ul, menu {}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

:where([hidden]) {
  display: none;
}