/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

%typeShared {
  font-size: .875rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

%headingShared {
  font-weight: r.$rootHeavy;
  margin-bottom: 1rem;
  letter-spacing: -.075rem;
}

p, ol, ul {
  @extend %typeShared;
  & li {
    font-size: inherit;
    font-weight: inherit;
  }
}

h1, .h1 {
  @extend %headingShared;
}

h2, .h2 {
  @extend %headingShared;
}

h3, .h3 {
  @extend %headingShared;
}

h4, .h4 {
  @extend %headingShared;
}

h5, .h5 {
  @extend %headingShared;
}

h6, .h6 {

}

th, .th, caption, .caption {}

table {}

small, .small {}