<table class="table">
  <thead>
    <tr class="dark">
      <th class="h4">title <small><a href="/books?sort=title"><i class="fa-solid fa-arrow-up"></i></a> <a
            href="/books?sort=-title"><i class="fa-solid fa-arrow-down"></i></a></small></th>
      <th class="h4" colspan="2">author</th>
    </tr>
  </thead>
  <tbody class="tbody">
    <% books.forEach(book=> { const { author } = book; %>
      <tr>
        <td>
          <%= book.title %>
        </td>
        <td>
          <%= author.fullname %>
        </td>
        <td width="20px">
          <button data-api data-method="delete" data-action="/api/books/<%= book.id %>"
            data-message="Do you want to delete <%= book.title %>?">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
      <% }) %>
  </tbody>


</table>