<form class="form" id="addBook" action="/api/books" method="POST" novalidate>
  <ul class="form__controls">
    <li class="control _100">
      <label for="title" class="control__label">
        title
      </label>
      <input type="text" name="title" id="title" class="control__field" aria-describedby="errorfname" form="addBook"
        required>
      <p class="control__error" id="errorfname">First name is required.</p>
    </li>
    <li class="control _70">
      <label for="author" class="control__label">
        author
      </label>
      <select name="author" id="author" class="control__field" aria-describedby="errorauthor" form="addBook" required>
        <option selected>choose an author</option>
        <% authors.forEach(author=> { %>
          <option value="<%= author.id %>">
            <%= author.fullname %>
          </option>
          <% }) %>
      </select>
      <p class="control__error" id="errorauthor">Author is required.</p>
    </li>
    <li class="control _30">
      <label for="year" class="control__label">
        year
      </label>
      <input type="number" name="year" id="year" class="control__field" aria-describedby="errorDob" form="addBook"
        required>
      <p class="control__error" id="errorDob">Year is required.</p>
    </li>
    <li class="control _100">
      <label for="descripton" class="control__label">
        descripton
      </label>
      <textarea name="descripton" id="descripton" class="control__field" aria-describedby="errorDescription"
        form="addBook" rows="5"></textarea>
      <p class="control__error" id="errorDescription">Description cannot exceed 500 characters.</p>
    </li>
    <li class="control control--form _100 j-end">
      <button class="btn" form="addBook" type="submit">submit</button>
    </li>

  </ul>
</form>