/* navigation */
nav {
  color: inherit;
  & ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 0;
  }
  & li {
    line-height: 1;
  }

}