$gray: (
  50: #f7f7f7,
  100: #efefef,
  200: #dfdfdf,
  300: #cacaca,
  400: #a8a8a8,
  500: #878787,
  600: #6d6d6d,
  700: #5f5f5f,
  800: #4a4a4a,
  900: #3d3d3d,  
);



$primary: map-get($gray, 800);
$secondary: map-get($gray, 400);
$accent: indianred;

@function gray($number: 500) {
  @return map-get($gray, $number);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function accent($theme: 'light', $value: 100) {
  $percent: $value * 1%;
  @if $theme == 'light' {
    @return mix(white, $accent, $percent);
  } @else {
    @return mix(black, $accent, $percent)
  }
  
}

$browser-context: 16;

@function rem($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}