$container: 11280px;
$padding: 25px;
$margin: 25px;
$margin: 25px;

// containers
@mixin container($width: 98%) {
  width: $width;
  max-width: $containerWidth;
  margin: {
    left: auto;
    right: auto;
  }
}



