// Global mixins and functions. 

// queries

$media: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
  3xl: 1920px  
);

@mixin screen($breakpoint) {
  @each $breakpoints, $size in d.$media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}



@mixin p($top: auto, $right: auto, $bottom: auto, $left: auto) {
  padding: {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
}

@mixin m($top: auto, $right: auto, $bottom: auto, $left: auto) {
  margin: {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin text($size: null, $lineHeight: null, $weight: null) {
  @if $size != null {
    font-size: $size;
  }
  
  @if $lineHeight != null {
    line-height: $lineHeight;
  }
  
  @if $weight != null {
    font-weight: $weight;
  }
}

// scut rem
$scut-rem-base: 16 !default;

@function scut-strip-unit ($num) {
  @return $num / ($num * 0 + 1);
}

@function scut-rem ($pixels) {
  @return scut-strip-unit($pixels) / $scut-rem-base * 1rem;
}