<main>
  <section class="row">
    <div class="col _100">
      <button class="btn">start</button>
      <button class="btn--green">submit</button>
      <button class="btn--blue">reset</button>
      <button class="btn--red" disabled>cancel</button>
      <button class="btn--yellow">add</button>
      <button class="btn--orange">send</button>
      <button class="btn--black">submit</button>
      <button class="btn" disabled>disabled</button>
    </div>
    <div class="col _100">
      <button class="btn--outline">start</button>
      <button class="btn--outline--green">submit</button>
      <button class="btn--outline--blue" disabled>reset</button>
      <button class="btn--outline--red">cancel</button>
      <button class="btn--outline--yellow">add</button>
      <button class="btn--outline--orange">send</button>
      <button class="btn--outline--black">submit</button>
    </div>
  </section>

</main>