<h2>
  grid
</h2>
<div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus architecto voluptatum rerum voluptatibus
    dignissimos dolor in excepturi, sint distinctio placeat.</p>
</div>
<div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ea nobis vero eveniet nemo ad vitae porro corrupti
    suscipit perferendis!</p>
</div>
<div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, dolore!</p>
</div>