<main>
  <h2>grid</h2>
  <section>
    <div>
      <h3>column</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto velit provident libero culpa debitis quidem
        laborum, voluptates cum animi soluta, earum deserunt? Beatae, autem aliquid.</p>

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus nam inventore sunt a? Culpa,
        accusantium corporis. Temporibus ipsa totam provident facilis mollitia, impedit enim voluptates fuga
        perspiciatis.
        Accusamus repellendus nam magnam provident, ut architecto, corporis praesentium doloribus voluptatibus ea vel
        sed
        quis pariatur. Hic sit ex quae pariatur deserunt!</p>
    </div>
    <div>
      <h3>column</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto velit provident libero culpa debitis quidem
        laborum, voluptates cum animi soluta, earum deserunt? Beatae, autem aliquid.</p>
    </div>
    <div>
      <h3>column</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae modi necessitatibus aut doloribus officiis
        incidunt, inventore neque officia itaque. Natus quidem at atque dicta recusandae vel sit error earum
        necessitatibus, doloremque suscipit quibusdam, ad numquam quo dolore labore adipisci. Blanditiis quas voluptate
        repellat at officiis suscipit dicta totam necessitatibus rem quos nihil adipisci, ullam nulla beatae earum harum
        aliquam consectetur voluptatum quia debitis in maiores vero error fuga. Beatae ipsam cumque accusantium
        blanditiis
        voluptatibus nemo. Optio dolore incidunt,
        dicta minus tempore soluta corporis, ad similique magni vero totam voluptatum, ipsa facere blanditiis excepturi
        omnis ut officiis harum recusandae aspernatur sapiente vitae non consequatur. Minima itaque, quidem maiores
        provident obcaecati tenetur assumenda sed quo repellat soluta expedita tempore? Impedit laboriosam in harum
        dolore
        minima totam, architecto nisi iusto expedita alias labore. Voluptatem, dicta repellat! Similique quo tempora
        delectus officia doloribus, incidunt ex quibusdam accusamus.</p>
    </div>
  </section>
</main>