<h2>grid</h2>
<section class="row">
  <div class="_100">
    <h3>column</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto velit provident libero culpa debitis quidem
      laborum, voluptates cum animi soluta, earum deserunt? Beatae, autem aliquid.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus nam inventore sunt a? Culpa,
      accusantium corporis. Temporibus ipsa totam provident facilis mollitia, impedit enim voluptates fuga perspiciatis.
      Accusamus repellendus nam magnam provident, ut architecto, corporis praesentium doloribus voluptatibus ea vel sed
      quis pariatur. Hic sit ex quae pariatur deserunt!</p>
  </div>
  <div class="_half">
    <h3>column</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto velit provident libero culpa debitis quidem
      laborum, voluptates cum animi soluta, earum deserunt? Beatae, autem aliquid.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus nam inventore sunt a? Culpa,
      accusantium corporis. Temporibus ipsa totam provident facilis mollitia, impedit enim voluptates fuga perspiciatis.
      Accusamus repellendus nam magnam provident, ut architecto, corporis praesentium doloribus voluptatibus ea vel sed
      quis pariatur. Hic sit ex quae pariatur deserunt!</p>
  </div>
  <div class="_half">
    <h3>column</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto velit provident libero culpa debitis quidem
      laborum, voluptates cum animi soluta, earum deserunt? Beatae, autem aliquid.</p>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus necessitatibus nam inventore sunt a? Culpa,
      accusantium corporis. Temporibus ipsa totam provident facilis mollitia, impedit enim voluptates fuga perspiciatis.
      Accusamus repellendus nam magnam provident, ut architecto, corporis praesentium doloribus voluptatibus ea vel sed
      quis pariatur. Hic sit ex quae pariatur deserunt!</p>
  </div>
</section>