<section class="modal" data-status="close" data-modal="preview" id="modalPreview">
  <article class="modal__content">
    <header class="modal__header">
      <h3 class="modal__title">Preview</h3>
      <button class="modal__close icon--blue" data-close="modal"><i class="fa-sharp fa-solid fa-xmark"></i></button>
    </header>

    <img class="modal__image" alt="preview image" title="preview image">

    <footer class="modal__footer"></footer>
  </article>
</section>