<section class="modal" data-status="close" data-modal="information" id="modalInformation">
  <article class="modal__content">
    <button class="modal__dismiss icon--green" data-close="modal"><i class="fa-sharp fa-solid fa-xmark"></i></button>
    <h2 class="modal__title"></h2>
    <p class="modal__message"></p>
  </article>
</section>