<section class="modal" data-modal="error" id="modalError">
  <article class="modal__content">
    <button class="modal__dismiss icon--green"><i class="fa-sharp fa-solid fa-xmark"></i></button>
    <h2 class="modal__title">Error!</h2>
    <p class="modal__message"></p>
  </article>
</section>