<section class="modal" data-status="close" data-modal="success" id="modalSuccess">
  <article class="modal__content">
    <header class="modal__header">
      <h3 class="modal__title">Success!</h3>
      <button class="modal__close icon--green" data-close="modal"><i class="fa-sharp fa-solid fa-xmark"></i></button>
    </header>
    <p class="modal__message"></p>
    <footer class="modal__footer"></footer>
  </article>
</section>