<%- include ('./modalPreview') %>
  <article>
    <h2>photo dashboard</h2>
    <%- include ('./photosTable') %>
  </article>
  <aside>
    <h3 class="h2">add photo</h3>
    <form class="form" id="addPhoto" action="/api/photos" method="POST" novalidate>
      <ul class="form__controls">
        <li class="control _100">
          <label for="work" class="control__label">
            work
          </label>
          <input type="text" name="work" id="work" class="control__field" aria-describedby="errorwork" form="addPhoto"
            required>
          <p class="control__error" id="errorwork">Work is required.</p>
        </li>
        <li class="control _100">
          <label for="title" class="control__label">
            title
          </label>
          <input type="text" name="title" id="title" class="control__field" aria-describedby="errortitle"
            form="addPhoto" required>
          <p class="control__error" id="errortitle">Title is required.</p>
        </li>
        <li class="control _100">
          <label for="photo" class="control__label">
            select photo
          </label>
          <input type="file" name="photo" id="photo" class="control__field" aria-describedby="errorphoto"
            form="addPhoto" required>
          <p class="control__error" id="errorphoto">Photo is required.</p>
        </li>
        <li class="control control--form _100 j-end">
          <button class="btn" form="addPhoto" type="submit">submit</button>
        </li>
      </ul>
    </form>
  </aside>