<%- include ('./modalPreview') %>
  <article>
    <h2>photo dashboard</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, asperiores quis odit voluptate enim aliquid
      voluptatem quo distinctio cupiditate atque!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint explicabo necessitatibus omnis? Obcaecati quod
      excepturi suscipit mollitia nostrum vel beatae quia, eum temporibus quisquam asperiores. Ad cum consectetur qui
      obcaecati debitis. Quasi, voluptas culpa maiores assumenda sed aperiam unde. Quisquam quae possimus repellendus.
      Atque enim itaque dolores, totam consequatur eaque ratione magnam fugiat quo ad animi maiores aspernatur iste
      eum doloribus aut sint laudantium perspiciatis soluta dignissimos saepe inventore? Assumenda debitis nemo et,
      iusto provident eveniet ratione, mollitia, sequi ab consectetur quia error. Assumenda distinctio nihil enim sit.
      Amet hic, nobis enim fuga deserunt dolore similique iure assumenda animi mollitia nihil laudantium, sint
      pariatur harum maiores quisquam ipsam. At dignissimos eius laboriosam odit dicta? Minus debitis ab distinctio,
      atque laudantium repudiandae autem aliquid eveniet, voluptas nulla quos omnis velit vitae obcaecati id veniam
      rem est dicta tenetur! Repellat molestiae non maiores aperiam, quis, velit sint cum possimus dicta repudiandae
      culpa.</p>
  </article>
  <aside>
    <form class="form" id="addPhoto" action="/api/photos" method="POST" novalidate>
      <h2 class="form__title">add photo</h2>
      <ul class="form__controls">
        <li class="control _50">
          <label for="work" class="control__label">
            work
          </label>
          <input type="text" name="work" id="work" class="control__field" aria-describedby="errorwork" form="addPhoto"
            required>
          <p class="control__error" id="errorwork">Work is required.</p>
        </li>
        <li class="control _50">
          <label for="title" class="control__label">
            title
          </label>
          <input type="text" name="title" id="title" class="control__field" aria-describedby="errortitle"
            form="addPhoto" required>
          <p class="control__error" id="errortitle">Title is required.</p>
        </li>
        <li class="control _100">
          <label for="photo" class="control__label">
            select photo
          </label>
          <input type="file" name="photo" id="photo" class="control__field" aria-describedby="errorphoto"
            form="addPhoto" required>
          <p class="control__error" id="errorphoto">Photo is required.</p>
        </li>
        <li class="control control--form _100 j-end">
          <button class="btn" form="addPhoto" type="submit">submit</button>
        </li>
      </ul>
    </form>
  </aside>