/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@use '../abstracts/tools' as *;

.nav {
  &__list {
    padding-top: 12px;
    padding-right: 12px;
  }
  &__item {
    text-align: right;
    margin-bottom: 5px;
  }
}
  