/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;
@use './links.scss' as *;

.btn {
  border-radius: 4px;
  color: inherit;
  text-transform: uppercase;
  font-size: .65rem;
  line-height: 1;
  padding: 14px 16px;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: baseline;
}

.btn--link {
  @include setLinks();
  text-transform: none;
  border-radius: none;
  padding: 0;
  line-height: inherit;
  font-size: inherit;
}

.btn--primary {
  @include setBG(clr(primary));
  transition: {
    property: background-color, color;
    duration: .26s;
  }
  &:hover {
    @include setBG(clr(primary, darker));
  }
}

.btn--primary-outline {
  border: {
    width: 1px;
    style: solid;
    color: clr(primary);
  }
  transition: {
    property: background-color, color;
    duration: .26s;
  }
  &:hover {
    @include setBG(clr(primary));
  }

}

.btn--secondary {
  @include setBG(clr(secondary));
  transition: {
    property: background-color, color;
    duration: .26s;
  }
  &:hover {
    @include setBG(clr(secondary, darker));
  }
}

.btn--dark {
  @include setBG(clr(secondary, darker));
  transition: {
    property: background-color, color;
    duration: .26s;
  }  
  &:hover {
    @include setBG(clr(secondary));
  }
}

.btn--light {
  @include setBG(clr(secondary, lightest));
  transition: {
    property: background-color, color;
    duration: .26s;
  }  
  &:hover {
    @include setBG(clr(secondary, darker));
  }
}

.btn--icon {
  @include setBG(clr(primary));
  font-size: 1rem;
  line-height: 1;
  padding: 12px;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: baseline;
  border-radius: 50%;
  transition: {
    property: background-color, color;
    duration: .26s;
  } 
  &:hover {
    @include setBG(clr(primary, darker));
  }

}

.btn--icon-outline {
  font-size: 1rem;
  line-height: 1;
  padding: 12px;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: baseline;
  border-radius: 50%;
  border: 1px solid clr(primary);
  color: inherit;
  transition: {
    property: background-color, color;
    duration: .26s;
  } 
  &:hover {
    @include setBG(clr(primary, darker));
  }

}