/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@use '../abstracts/tools' as *;
@use 'sass:color';

label,
input,
select,
textarea,
fieldset {
  appearance: none;
  display: block;
  width: 100%;
}

.input::before {
  display: block;
  content: attr(aria-label)
}

