/* Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;
@use 'sass:color';

.modal {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  z-index: 1;
}

.modal[data-status="open"] {
  display: flex;
}

.modal[data-status="close"] {
  display: none;
}

.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid clr(green, lightest);
  margin-bottom: 40px;
}

.modal__content {
  position: relative;
  background-color: white;
  width: 95%;
  max-width: 800px;
  padding: 30px;
}

.modal__message {
  text-align: center;
}

.modal__footer {
  border-top: 1px solid clr(green, lightest);
  margin-top: 40px;
  padding: 20px;
}

.modal__image {
  display: block;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}