<section class="modal" id="modalConfirm">
  <article class="modal__content">
    <p class="modal__message">modal message</p>
  </article>
  <footer class="modal__footer">
    <button type="button" id="confirmCancel">cancel</button>
    <button type="button" id="confirmAccept">ok</button>
  </footer>
</section>