<section class="modal" id="modalSuccess">
  <article class="modal__content">
    <button class="modal__dismiss icon--green"><i class="fa-sharp fa-solid fa-xmark"></i></button>
    <h2 class="modal__title">Success!</h2>
    <p class="modal__message">Author James Taylor has been created.</p>
  </article>
</section>