/* aside */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

$borderThickess: 1px;
$radius: 4px;

.main aside {
  max-width: 75ch;
}

.main--rule aside {
  border-top: {
    width: r.$rootBorder;
    style: solid;
    color: r.$rootColor;
  }
  padding-top: 30px;
  margin-top: 30px;
  @include screen(md) {
    border-top: none;
    border-left: {
      width: r.$rootBorder;
      style: solid;
      color: r.$rootColor;
    }
    padding: {
      top: 0;
      left: 30px;
    }
    margin-top: 0;
  }
}

.main--border aside {
  border: {
    width: r.$rootBorder;
    style: solid;
    color: r.$rootColor;
    radius: r.$rootRadius;
  }
  padding: 30px;
  margin-top: 30px;
  @include screen(md) {
    margin-top: 0;
  }
}

.main--background aside {
  padding: 30px;
  margin-top: 30px;
  border-radius: r.$rootRadius;
  @include setBG(r.$rootColor);
  @include screen(md) {
    margin-top: 0;
  }
}