/* aside */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

.main aside {
  max-width: 75ch;
}

.main--rule aside {
  border-top: {
    width: 1px;
    style: solid;
    color: clr(primary);
  }
  padding-top: 30px;
  margin-top: 30px;
  @include screen(md) {
    border-top: none;
    border-left: {
      width: 1px;
      style: solid;
      color: clr(primary);
    }
    padding: {
      top: 0;
      left: 30px;
    }
    margin-top: 0;
  }
}

.main--border aside {
  border: {
    width: 1px;
    style: solid;
    color: clr(primary);
  }
  padding: 30px;
  margin-top: 30px;
  @include screen(md) {
    margin-top: 0;
  }
}

.main--background aside {
  padding: 30px;
  margin-top: 30px;
  @include setBG(clr(green, dark));
  @include screen(md) {
    margin-top: 0;
  }
}