/* footer */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

footer {
  @include flag(gray);
  margin-left: r.$rootLeftBar;
  max-width: r.$rootContainer;
  padding-left: 30px;
  & * {
    margin: 0;
  }
}