/* header */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

header {
  @include flag(blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  & * {
    margin: 0;
  }
}


