/* header */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

.header__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


