/* main */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

main {
  flex: 1;
  @include screen(md) {
    padding-top: 40px;
    max-width: 2000px;
    margin: {
      left: auto;
      right: auto;
    }
  }
}
