/* main */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

main {
  @include flag(orange);
  display: flex;
  flex: row;
  flex: 1;
  margin-left: r.$rootLeftBar;
  max-width: r.$rootContainer;
}
