/* navigation */
@use '../abstracts/tools' as *;
@use '../abstracts/variables/root' as r;

.header__menu-btn {
  $dimension: 35px;
  @include setBG(clr(black));
  border-radius: 4px;
  font-size: .85rem;
  line-height: 1;
  width: $dimension;
  height: $dimension;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: baseline;
  z-index: 11;
  @include screen(md) {
    display: none;
  }
}

.side-navigation {
  display: none;
  @include screen(md) {
    display: block;
  } 
}

.side-navigation.open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 25%;
  height: 100%;
  z-index: 10;
  @include screen(md) {
    position: relative;
    top: auto;
    right: auto;
    left: 0;
    padding-left: 0;
    height: auto;
  }
}

.open {
  & .nav__list {
    background-color: white;
    height: 100%;
    box-shadow: -2px 0 3px 10px rgba(0,0,0,0.1);
    padding: {
      top: 75px;
      left: 10px;
      right: 10px;
    }    
    @include screen(md) {
      padding: 0;
      box-shadow: none;
    }
  }
  & .nav__item {
    margin-bottom: 20px;
  }
}



.nav__list {
  @include screen(md) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}