// type
$sans: Helvetica, Tahoma, Verdana, Trebuchet, Arial, sans-serif;
$serif: 'Times New Roman', Georgia, Garamond, serif;
$mono: 'Courier New';

// sans
$helvetica: Helvetica, Tahoma, Verdana, Trebuchet, Arial, sans-serif;
$tahoma: Tahoma, Helvetica, Verdana, Trebuchet, Arial, sans-serif;
$verdana: Verdana, Helvetica, Tahoma, Trebuchet, Arial, sans-serif;
$trebuchet: Trebuchet, Helvetica, Tahoma, Verdana, Arial, sans-serif;

// serif
$times: 'Times New Roman', Georgia, Garamond, serif;
$georgia: Georgia, 'Times New Roman', Garamond, serif;
$garamond: Garamond, 'Times New Roman', Georgia, serif;

// set 
$bodyType: $serif;
$headingType: $sans;

// dimensions
$containerWidth: 1024px;

// mixins
$media: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
  3xl: 1920px
);

@mixin device($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}