/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  display: flex;
  flex-direction: column;
}

div, .container {
  width: 100%;
  max-width: $containerWidth;
  margin: {
    left: auto;
    right: auto;
  }
}

main {
  flex: 1;
}

/* header –––––––––––––––––––––––––––– */


.header {
  background-color: slategrey;
  padding: {
    top: 12px;
    bottom: 12px;
  }
  color: white;
  & div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
  }
}

/* nav ––––––––––––––––––––––––––––––– */

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.nav__item {
  display: block;
  flex: 1;
}

.nav__link {
  display: inline-block;
  color: inherit;
  font-family: $headingType;
  border-bottom: {
    width: 2px;
    color: transparent;
    style: solid;
  }
  padding: {
    bottom: 1px;
  }
  transition: border-bottom-color, .25s;
  &:hover {
    border-bottom-color: inherit;
  }
  &:link {
    color: inherit;
  }
}