/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$phoneGutters: 12px;
$deskGutters: 0;

body {
  display: flex;
  flex-direction: column;
}

div, .container {
  width: 100%;
  max-width: $containerWidth;
  margin: {
    left: auto;
    right: auto;
  }
}

/* header –––––––––––––––––––––––––––– */


.header {
  position: relative;
}

/* nav ––––––––––––––––––––––––––––––– */

.nav__list {
  display: none;
}

.nav__list.show {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav__btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  width: 50px;
  height: 25px;
  text-align: center;
}

.nav__item {}

.nav__link {}

/* main –––––––––––––––––––––––––––––– */

main {
  flex: 1;
}