/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$phoneGutters: 12px;
$deskGutters: 0;

body {
  display: flex;
  flex-direction: column;
}

div, .container {
  width: 100%;
  max-width: $containerWidth;
  margin: {
    left: auto;
    right: auto;
  }
}

/* header –––––––––––––––––––––––––––– */


.header {
  position: relative;
  padding: {
    top: 10px;
    bottom: 10px;
    left: $phoneGutters;
    right: $phoneGutters;
  }
  & div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include device(lg) {
    padding: {
      left: $deskGutters;
      right: $deskGutters;
    }
  }
}

/* nav ––––––––––––––––––––––––––––––– */

.nav__list {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  flex-direction: column;
  background-color: white;
  padding: {
    left: $phoneGutters;
    right: $phoneGutters;
  }
  @include device(lg) {
    padding: {
      left: $deskGutters;
      right: $deskGutters;
    }
  }  
}

.nav__list.show {
  display: flex;
}

.nav__btn {
  &:hover {
    cursor: pointer;
  }
}

.nav__item {}

.nav__link {}

/* main –––––––––––––––––––––––––––––– */

main {
  flex: 1;
  padding: {
    right: $phoneGutters;
    left: $phoneGutters;
  }
  @include device(lg) {
    padding: {
      left: $deskGutters;
      right: $deskGutters;
    }
  }
}