/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$phoneGutters: 12px;
$deskGutters: 0;

body {
  display: flex;
  flex-direction: column;
}

div, .container {
  width: 100%;
  max-width: $containerWidth;
  margin: {
    left: auto;
    right: auto;
  }
}

/* header –––––––––––––––––––––––––––– */


.header {}

/* nav ––––––––––––––––––––––––––––––– */

.nav {
  position: relative;
}

.nav__list {
  display: none;
}

.nav__list.show {
  display: block;
}

.nav__menu {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.nav__item {}

.nav__link {}

/* main –––––––––––––––––––––––––––––– */

main {
  flex: 1;
}