/* Link styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  &:hover {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
  &:link {
    color: inherit;
  }
  &:active {
    color: inherit;
  }
  &:focus {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: inherit;
  }
}