<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>

  <body>
    <%- include ('../partials/header') %>
      <main class="main">
        <%- include (partialPath) %>
      </main>
      <%- include ('../partials/footer') %>
  </body>

</html>