<article>
  <h2 class="h3">author dashboard</h2>
  <% if (count < 1) { %>
    <p>no current authors</p>
    <% } else if(count> 0) { %>
      <%- include ('./authorTable') %>
        <% } %>
</article>
<aside>
  <h2 class="h3">add author</h2>
  <%- include ('./authorForm') %>
</aside>