@use '../tools' as *;
@use './fonts.scss' as f;

$bodyFont: f.$inter;
$headingFont: f.$inter;
$rootSize: 1rem;
$rootRadius: 4px;
$rootBorder: 1px;
$rootColor: clr(blue, dark);
$rootWeight: 400;
$rootHeavy: 700;