$colors: (
  primary: (
    base: $primary-color,
    light: mix(white, $primary-color, 10%),
    dark: mix(black, $primary-color, 10%)
  ),
  accent: (
    base: $accent-color,
    light: mix(white, $accent-color, 10%),
    dark: mix(black, $accent-color, 10%)
  )
)