<form class="form" id="addPhoto" action="/api/photos" method="POST" novalidate>
  <ul class="form__controls">
    <li class="control _100">
      <label for="title" class="control__label">
        title
      </label>
      <input type="text" name="title" id="title" class="control__field" aria-describedby="errorTitle" form="addPhoto"
        required>
      <p class="control__error" id="errorTitle">Title is required.</p>
    </li>
    <li class="control _70">
      <label for="author" class="control__label">
        author
      </label>
      <select name="book" id="book" class="control__field" aria-describedby="errorBook" form="addPhoto" required>
        <option selected>choose a title</option>
        <% books.forEach(book=> { %>
          <option value="<%= book.id %>">
            <%= book.title %>
          </option>
          <% }) %>
      </select>
      <p class="control__error" id="errorBook">Book is required.</p>
    </li>
    <li class="control _100">
      <label for="photo" class="control__label">
        select photo
      </label>
      <input type="file" name="photo" id="photo" class="control__field" aria-describedby="errorPhoto" form="addPhoto"
        required>
      <p class="control__error" id="errorPhoto">Photo is required.</p>
    </li>
    <li class="control control--form _100 j-end">
      <button class="btn" form="addPhoto" type="submit">submit</button>
    </li>
  </ul>
</form>