@charset "UTF-8";
/* Font Faces
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 400;
  src: local("Inter"), url("/fonts/inter/inter-v12-latin-regular.woff2") format("woff2"), url("/fonts/inter/inter-v12-latin-regular.woff") format("woff"), url("/fonts/inter/inter-v12-latin-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 200;
  src: local("Inter"), url("/fonts/inter/inter-v12-latin-200.woff2") format("woff2"), url("/fonts/inter/inter-v12-latin-200.woff") format("woff"), url("/fonts/inter/inter-v12-latin-200.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 700;
  src: local("Inter"), url("/fonts/inter/inter-v12-latin-700.woff2") format("woff2"), url("/fonts/inter/inter-v12-latin-700.woff") format("woff"), url("/fonts/inter/inter-v12-latin-700.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 900;
  src: local("Inter"), url("/fonts/inter/inter-v12-latin-900.woff2") format("woff2"), url("/fonts/inter/inter-v12-latin-900.woff") format("woff"), url("/fonts/inter/inter-v12-latin-900.ttf") format("truetype");
}
/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, button {
  cursor: revert;
}

button {
  border: none;
  background-color: transparent;
}

 ul {
  list-style-type: none;
}

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
 p, ul {
  font-size: 0.875rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

 h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: -0.075pt;
}

p li, ul li {
  font-size: inherit;
  font-weight: inherit;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.17rem;
}

small, .small {
  font-size: 0.83em;
  font-weight: inherit;
  font-family: inherit;
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 12px;
  padding-right: 12px;
}

/* grid */

/* header */
header {
  position: relative;
}

/* navigation */
.nav__btn {
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: baseline;
  width: 35px;
  height: 35px;
  background-color: #002f35;
  color: #bfcbcd;
  transition-property: background-color, color;
  transition-duration: 0.26s;
  z-index: 11;
}
.nav__btn:hover {
  background-color: #bfcbcd;
  color: #303333;
}

.nav__list {
  display: none;
}

/* main */
main {
  flex: 1;
}

/* article */
/* aside */
/* footer */
/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Article
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Aside
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a:link {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}
a:visited {
  color: inherit;
  outline: auto;
}
a:hover {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
a:focus {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  outline: none;
}
a:active {
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
  outline: none;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button:disabled {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  color: #dcdcdc;
  cursor: none;
}
button:disabled:hover {
  background-color: #f6f6f6;
  color: #dcdcdc;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Figures
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*!
 * Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 * Copyright 2022 Fonticons, Inc.
 */


.fa-solid {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}
@keyframes fa-beat {
  0%, 90% {
    transform: scale(1);
  }
  45% {
    transform: scale(var(--fa-beat-scale, 1.25));
  }
}
@keyframes fa-bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, 0.9)) translateY(0);
  }
  30% {
    transform: scale(var(--fa-bounce-jump-scale-x, 0.9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -0.5em));
  }
  50% {
    transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, 0.95)) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(var(--fa-bounce-rebound, -0.125em));
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes fa-fade {
  50% {
    opacity: var(--fa-fade-opacity, 0.4);
  }
}
@keyframes fa-beat-fade {
  0%, 100% {
    opacity: var(--fa-beat-fade-opacity, 0.4);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(var(--fa-beat-fade-scale, 1.125));
  }
}
@keyframes fa-flip {
  50% {
    transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
  }
}
@keyframes fa-shake {
  0% {
    transform: rotate(-15deg);
  }
  4% {
    transform: rotate(15deg);
  }
  8%, 24% {
    transform: rotate(-18deg);
  }
  12%, 28% {
    transform: rotate(18deg);
  }
  16% {
    transform: rotate(-22deg);
  }
  20% {
    transform: rotate(22deg);
  }
  32% {
    transform: rotate(-12deg);
  }
  36% {
    transform: rotate(12deg);
  }
  40%, 100% {
    transform: rotate(0deg);
  }
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */

.fa-bars::before {
  content: "\f0c9";
}

/*!
 * Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 * Copyright 2022 Fonticons, Inc.
 */
:root {
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}

/*!
 * Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 * Copyright 2022 Fonticons, Inc.
 */
:root {
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Pro";
}

@font-face {
  font-family: "Font Awesome 6 Pro";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("/icons/fa/fa-solid-900.woff2") format("woff2"), url("/icons/fa/fa-solid-900.ttf") format("truetype");
}

.fa-solid {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
}

/*!
 * Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 * Copyright 2022 Fonticons, Inc.
 */
:root {
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Pro";
}

@font-face {
  font-family: "Font Awesome 6 Pro";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/icons/fa/fa-regular-400.woff2") format("woff2"), url("/icons/fa/fa-regular-400.ttf") format("truetype");
}

/*!
 * Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 * Copyright 2022 Fonticons, Inc.
 */
:root {
  --fa-font-light: normal 300 1em/1 "Font Awesome 6 Pro";
}

@font-face {
  font-family: "Font Awesome 6 Pro";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("/icons/fa/fa-light-300.woff2") format("woff2"), url("/icons/fa/fa-light-300.ttf") format("truetype");
}

/*!
 * Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 * Copyright 2022 Fonticons, Inc.
 */
:root {
  --fa-font-thin: normal 100 1em/1 "Font Awesome 6 Pro";
}

@font-face {
  font-family: "Font Awesome 6 Pro";
  font-style: normal;
  font-weight: 100;
  font-display: block;
  src: url("/icons/fa/fa-thin-100.woff2") format("woff2"), url("/icons/fa/fa-thin-100.ttf") format("truetype");
}

/*!
 * Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 * Copyright 2022 Fonticons, Inc.
 */
:root {
  --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
}

@media screen and (min-width: 768px){
  .nav__btn {
    display: none;
  }
  .nav__list {
    display: block;
  }
}
/*# sourceMappingURL=main.test.css.map */