@charset "UTF-8";
/* Font Faces
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 400;
  src: local("Inter"), url("/fonts/inter/inter-v12-latin-regular.woff2") format("woff2"), url("/fonts/inter/inter-v12-latin-regular.woff") format("woff"), url("/fonts/inter/inter-v12-latin-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 200;
  src: local("Inter"), url("/fonts/inter/inter-v12-latin-200.woff2") format("woff2"), url("/fonts/inter/inter-v12-latin-200.woff") format("woff"), url("/fonts/inter/inter-v12-latin-200.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 700;
  src: local("Inter"), url("/fonts/inter/inter-v12-latin-700.woff2") format("woff2"), url("/fonts/inter/inter-v12-latin-700.woff") format("woff"), url("/fonts/inter/inter-v12-latin-700.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 900;
  src: local("Inter"), url("/fonts/inter/inter-v12-latin-900.woff2") format("woff2"), url("/fonts/inter/inter-v12-latin-900.woff") format("woff"), url("/fonts/inter/inter-v12-latin-900.ttf") format("truetype");
}
/* Reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, button {
  cursor: revert;
}

button {
  border: none;
  background-color: transparent;
}

 ul {
  list-style-type: none;
}

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 200;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
 p, ul {
  font-size: 0.875rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

 h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: -0.075pt;
}

p li, ul li {
  font-size: inherit;
  font-weight: inherit;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.17rem;
}

small, .small {
  font-size: 0.83em;
  font-weight: inherit;
  font-family: inherit;
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 12px;
  padding-right: 12px;
}

/* grid */

.a-start {
  align-items: flex-start;
}

/* header */

.header__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  letter-spacing: -2px;
}
.header__title a {
  font-weight: 900;
  letter-spacing: -2px;
}

/* navigation */
.header__menu-btn {
  background-color: #002f35;
  color: #f2f5f5;
  border-radius: 4px;
  font-size: 0.85rem;
  line-height: 1;
  width: 35px;
  height: 35px;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: baseline;
  z-index: 11;
}

.top-navigation {
  display: none;
}

.top-navigation.open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 25%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
}

.open .nav__list {
  background-color: white;
  height: 100%;
  box-shadow: -2px 0 3px 10px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.open .nav__item {
  font-size: 1.25rem;
  line-height: 2;
}

/* main */
main {
  flex: 1;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  flex-direction: column;
}

/* article */
.main article {
  max-width: 75ch;
}

.main--background article {
  padding-top: 0;
}

/* aside */
.main aside {
  max-width: 75ch;
}

.main--background aside {
  padding: 30px;
  margin-top: 30px;
  background-color: #003823;
  color: #f2f5f4;
}

/* footer */
footer {
  text-align: center;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Article
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Aside
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a:link {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}
a:visited {
  color: inherit;
  outline: auto;
}
a:hover {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
a:focus {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  outline: none;
}
a:active {
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
  outline: none;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button:disabled {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  color: #dcdcdc;
  cursor: none;
}
button:disabled:hover {
  background-color: #f6f6f6;
  color: #dcdcdc;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Figures
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 768px){
  body {
    padding: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
  }
  .header__menu-btn {
    display: none;
  }
  .top-navigation {
    display: block;
  }
  .top-navigation.open {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    padding-left: 0;
    height: auto;
  }
  .open .nav__list {
    padding: 0;
    box-shadow: none;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  main {
    padding-top: 40px;
    max-width: 1200px;
  }
  .main {
    flex-direction: row;
    gap: 60px;
  }
  .main--background article {
    padding-top: 30px;
  }
  .main--background aside {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.test.css.map */